  /* Inicio do Aside - Aside parte um  */
  aside {   
    width: 45%;
    padding: 2.4rem 2.3rem 0 3rem;
  }
    
    aside h2 {
     font-weight: bolder;
      font-size: large;
    }   

  /* Cabeçalho do Aside */
  .header-aside {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: .7rem;
  }

    .header-aside h2 {
      margin-bottom: .5rem;
    }

    .header-aside p{
      width: 23.7rem;
    }

  /* Parte da apresentação dos números - primeira animação*/
  .showing {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .numbers {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

    .numbers h2 {
      font-size: small;
      width: 5rem;
      font-family: var(--ff-sora);
    }

  .bordcolor {
    display: flex;
    position: relative;
    width: 6rem;
    height: 6rem;
    background: var(--background-tertiary);
    border-radius: 50%;
    overflow: hidden;
  }

  .bordcolor::before {
    content: "";
    position: absolute;
    inset: -.625rem 1.875rem;
    background: var(--background-gradient);
    animation: animar 4s linear infinite;
    transition: .6s;
  }

  @keyframes animar {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .bordcolor:hover::before {
    inset: -1.25rem 0px;
  }

  .bordcolor::after {
    content: "";
    position: absolute;
    inset: 5px; /* Largura - borda colorida animada */
    background: var(--background-tertiary);
    border-radius: 50%;
    z-index: 1;
  }

  .conteudo {
    position: absolute;
    width: 6rem;
    height: 6rem;
    inset: 0px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

    .conteudo h2 {
      font-size: 2rem;
      color: var(--content-primary);
    }

    .conteudo h2:hover {
      font-size: 2.5rem;
    }  

  /* Botão (slider) de opção de repetir ou não os números. */
  #Toggle {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

    #Toggle p {
      padding-left: .5rem;
      font-size: large;
      font: var(--label-medium);
      color: var(--content-primary);
    } 

  #chk {
    display: none;
  }

  .switch {
    display: flex;
    align-items: center;
    position: relative;
    background: var(--background-gray);
    width: 2.87rem;
    height: 1.8rem;
    border-radius: 2.5rem;    
    transition: all .6s ease-in-out;
    cursor: pointer;
  }

  .slider {
    position: absolute;
    margin-left: 3px;
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition: all .2s ease-in-out;
  }

  #chk:checked~.switch {
    background: var(--background-gradient);
  }

  #chk:checked~.switch .slider {
    transform: translateX(1rem);
  }

  /* Botão de sortear os números. */
  #box {
    position: relative;
    margin-top: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    width: 23.7rem;
    height: 3.5rem;
    background-color: var(--background-tertiary);
    font: var(--label-medium);
    color: white;
    border: none;
    border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;    
  }

  #box::before {
    content: "";
    position: absolute;
    inset: 0.625rem -1.875rem; 
    background: var(--background-gradient);
    animation: snake 3s linear infinite;
  }

  #box:hover::before {
    inset: -15rem -5rem;   
  }

  @keyframes snake {
    100% {
      transform: rotate(360deg);
    }
  }

  #box::after {
    content: "";
    position: absolute;
    background-color: var(--background-tertiary);
    inset: 4px; /* largura - borda animada colorida*/
    border-radius: inherit;
  }

  #box p {
    position: relative;
    z-index: 1;
    color: white;
    right: 1rem;
  }

  #box:hover p {
    font-size: 1.2rem;
  }

  #box img {
    position: relative;
    z-index: 1;
    color: white;
    width: 1.5rem;
  }

  #box:hover img {
    animation: seta 1.6s linear infinite;
    width: 2.5rem;
  }

  @keyframes seta {
    0% {
      transform: translateX(1rem);
    }
  }