/*Aside parte dois*/
#asideTwo{
  display: none;
}

/* Gerador de números aleatórios */
.geraNumeros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
}

  .geraNumeros h2 {
    font-size: 1.8rem;
  }

#resultado {  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#resultado h2 {
   padding: 2rem 0;
  font-size: 1rem;
  margin-left: .5rem;
}

#resultado p,
#resultado span {
  padding: 2rem 0;
  font-size: 1.2rem;
  color: white;  
  text-align: center;
}

.wrapper {  
  position: relative;
  width: 9.37rem;
  height: 9.37rem;
  margin: 2rem auto;
}

.numeros-sobrepostos {
  position: absolute;
  font-size: 3rem; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  gap: 1rem;
  pointer-events: none;
}

  /* Alinhamento dos números */
.numeros-sobrepostos p {
  padding-bottom: 1.7rem ;
  font-size: 1.6em;
  color: rgb(130, 126, 126);
  font-weight: bold;
}

#numero1,
#numero2 {      
  font-size: 1.8em; 
  color: rgb(130, 126, 126);
  font-weight: bold;  
}

/* Botão Sortear Novamente*/
#numbers {      
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 23.7rem;
  height: 3.5rem;
  background-color: var(--background-tertiary);
  font: var(--label-medium);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  color: white;  
  margin: 4rem auto 0;
}

#numbers::before {
  content: "";
  position: absolute; 
  inset: 0.625rem -1.875rem;   
  background: var(--background-gradient);
  animation: snake 3s linear infinite;
  }

  #numbers:hover::before {
    inset: -15rem -5rem;   
  }

  @keyframes snake {
    100% {
     transform: rotate(360deg);
    }
  }

#numbers img {
  position: relative;
  width: 1.5rem;
  z-index: 1;
  gap: 1rem;
  margin-left: 0.5rem;  
  animation: girarIcone 10s linear infinite;
}

#numbers:hover p {
 font-size: 1.2rem;  
}

#numbers:hover img {
  animation: girarIconeHover 1.2s linear infinite;
  width: 2rem;
}

@keyframes girarIconeHover {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#numbers::after {
    content: "";
    position: absolute;
    background-color: var(--background-tertiary);
    inset: 4px; /* largura - borda animada colorida*/
    border-radius: inherit;
  }

  #numbers p {
    position: relative;
    z-index: 1;
    color: white;
    right: 1rem;
  }

/* Animações da placa de números*/
.elem-rot span{
  opacity: 0;
  position: relative;
}

#transitionRotate {
  position: relative;
  width: 8rem;
  height:  8rem;
  border-radius: 2.4rem;
  background: var(--background-brand);
  margin: 3rem auto;   
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  opacity: 0;
  z-index: 1;
  transition: transform 1.5s ease, opacity 0.5s ease;
}

.rotate-left {
  transform: rotate(-180deg);
  opacity: 1;
}

.rotate-right {
  transform: rotate(180deg);
  opacity: 1;
}

.numero1-animar {
  animation: deslocaEsquerda 2s ease forwards;
}

.numero2-animar {
  animation: deslocaDireita 2s ease forwards;
}

#numero1,
#numero2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: transform 0.5s ease;
}

/* Deslocamentos dos numeros sorteados */
@keyframes deslocaEsquerda {
  0% { transform: translate(-50%, -50%) translateX(0); color: black; }
  100% { transform: translate(-50%, -50%) translateX(-9rem); color: var(--accent-pink); }
}

@keyframes deslocaDireita {
  0% { transform: translate(-50%, -50%) translateX(0); color: black; }
  100% { transform: translate(-50%, -50%) translateX(9rem); color: var(--accent-pink); }
}

@keyframes brilhoDesaparece {
  0% { filter: brightness(1); opacity: 1; }
  100% { filter: brightness(2); opacity: 0; }
}

/* Ocultar e mostrar botão de Sortear Novamente */
.ocultar {
  opacity: 0;
  pointer-events: none;
}

