  /* Cabeçalho */
  header {

    padding-bottom: 4rem;
    max-width: 50%;    
  }

  /* Inicio do main - primeira parte do Projeto. */
  main {    
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    min-width: 20rem;
    margin-left: 5rem;
    margin: 2rem 0 0 4rem;

    & h3 {
      margin-bottom: 2rem;
      font: var(--overline);
      background-image: var(--background-gradient);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 1.2rem;
      font-weight: bolder;
    }

    & h1 {
      padding-bottom: 2rem;   
      white-space: nowrap;
    }
  }

  /* Textos das perguntas - Como Funciona... e Posso escolher... */
  #questions {
    max-width: 24rem;
    display: flex;
    flex-direction: column;   -
  }

  .quest {
    display: grid;
    grid-template-areas:
      "flame text"
      "flame text";

    & .text {
      padding-left: .5rem;
    }
  }

  .p-rose {
    color: var(--content-brand);
  }

  /* Textos das perguntas - Como Funciona... e Posso escolher... para MOBILE */
  #questions-mobile {
    max-width: 24rem;
    display: flex;
    flex-direction: column;        
    display: none;

    & p {
      font-size: small;
    }
  }

  .quest {
    padding-top: .5rem;
    display: grid;
    grid-template-areas:
      "flame text"
      "flame text";
      
      
    & .text {
      padding-left: .5rem;
      padding-bottom: 1rem;      
    }
  }

  .p-rose {
    color: var(--content-brand);
  }


